
legend {
    text-align: center;
}

.text-box {
    border: 1px solid #2d2d2d;
    height: 200px;
    width: 330px;
    margin-top: 1em;
    padding: 0.3em;
}

fieldset {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0.5em 0;
}

input[type=checkbox]:hover, label:hover{
    cursor: pointer;
}

 input[type=number] {
    width: 40px
}

select {
    width: 80px;
    margin: 0.5em;
}


button:hover {
    cursor: pointer;
}

#gait-ad-error, #transfer-ad-error, #gait-distance-error  {
    margin: 0;
    display: none;
}