textarea {
    display: block;
    height: 80px;
    width: 275px;
    size-adjust: none;
}

legend {
    text-align: center;
}

.ther-ex-box {
    border: 1px solid #2d2d2d;
    height: 200px;
    width: 330px;
    margin-top: 1em;
    padding: 0.3em;
}

fieldset {
    display: flex;
    flex-direction: column;
}

#weights-ex {
    width: 50px
}

